Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, cactus_integration

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py

Makefile: pyupgrade to 3.9+
  Makefile
Due: none

typing: gate the usage of typing_extensions based upon the Python version
  contrib/mypy-stubs/dill/_dill.pyi
  src/toil/batchSystems/kubernetes.py
  src/toil/cwl/cwltoil.py
  src/toil/job.py
Due: cwl_v1.2, cwl_on_arm

type cleanup
  src/toil/cwl/cwltoil.py
  src/toil/lib/aws/ami.py
Due: cwl_v1.2, cwl_on_arm

add some noisy commits to the git blame ignore list
  .git-blame-ignore-revs
Due: none

Remove python3.8 testing. (#5126)
  .gitlab-ci.yml
  docker/Dockerfile.py
  setup.py
Due: none

fix import location
  src/toil/__init__.py
  src/toil/test/src/dockerCheckTest.py
Due: none

undo one TypeDict upgrade to fix the docs
  src/toil/wdl/wdltoil.py
Due: none

Add local to appease MyPy
  src/toil/wdl/wdltoil.py
Due: none

cwl slurm memory test: simplify (#5127)
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/measure_default_memory.cwl
Due: cwl_v1.2

Fix reference problems introduced by merge
  src/toil/wdl/wdltoil.py
Due: none

Fix bug with importworker options
  src/toil/common.py
Due: none

Asbtract WDL and CWL imports and enforce a better method
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Remove unused import
  src/toil/wdl/wdltoil.py
Due: none

satisfy mypy
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Deal with normalized paths when importing from a WDL JSON file (#5121)
  src/toil/wdl/wdltoil.py
Due: none

Move condition check into wrapper
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/not_run_required_input.cwl
Due: cwl_v1.2, cwl_on_arm

Don't error on collision
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Add missing comma
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Fill in empty conditional
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Fix WDL import in CWL
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Fix WDL comments
  src/toil/cwl/cwltoil.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Make file job store stats and logging files flow one way, and never show partially written logs
  src/toil/jobStores/fileJobStore.py
Due: none

Add docstring and boilerplate to new file
  src/toil/lib/integration.py
Due: none

Add ftp support
  src/toil/jobStores/abstractJobStore.py
Due: none

FTP support
  docs/appendices/environment_vars.rst
  src/toil/jobStores/abstractJobStore.py
Due: none

strtobool for hardcoded strings for AWS env vars
  src/toil/lib/aws/utils.py
Due: none

typo
  docs/appendices/environment_vars.rst
Due: none

Support WDL call caching (#5105)
  src/toil/batchSystems/abstractGridEngineBatchSystem.py
  src/toil/common.py
  src/toil/job.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/jobStores/fileJobStore.py
  src/toil/test/wdl/testfiles/random.wdl
  src/toil/test/wdl/wdltoil_test.py
  src/toil/utils/toilStatus.py
  src/toil/wdl/wdltoil.py
Due: none
