Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, batchsystem, cactus_integration

cwl_v1.2:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  - echo $'Host *\n    AddressFamily inet' > /root/.ssh/config
  ...

batchsystem:
  stage: integration
  script:
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[all]
  - make test threads="${TEST_THREADS}" tests=src/toil/test/batchSystems/test_gridengine.py::GridEngineTest

cactus_integration:
  stage: integration
  script:
  - export CACTUS_COMMIT_SHA=03295e9af99e2e9168ccd02e78a9f4c0c8dcd490
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  ...

Version 8.2.0.
  version_template.py
Due: none

Test WDL Restart (#5284)
  src/toil/test/wdl/testfiles/read_file.wdl
  src/toil/test/wdl/wdltoil_test.py
  src/toil/wdl/wdltoil.py
Due: none

Apply suggestions from code review
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

tests: fix two scripts to work from any location
  src/toil/test/__init__.py
  src/toil/test/docs/scripts/tutorial_staging.py
  src/toil/test/utils/ABCWorkflowDebug/debugWorkflow.py
  src/toil/test/utils/toilKillTest.py
Due: none

Suppress spurious nvidia warnings.
  src/toil/lib/accelerators.py
Due: none

Address comments and add tests
  src/toil/cwl/cwltoil.py
  src/toil/cwl/utils.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Mypy
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Support relaxing quant check in initial load
  src/toil/options/wdl.py
  src/toil/wdl/wdltoil.py
Due: none

Add missing badges
  docs/cwl/conformance.rst
Due: none

Add a Directory test WDL that MiniWDL can run
  src/toil/test/wdl/testfiles/directory.wdl
Due: none

Memoize google client
  src/toil/jobStores/googleJobStore.py
Due: none

separate urlAccess class from job store
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/cwl/utils.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/jobStores/aws/jobStore.py
  src/toil/jobStores/fileJobStore.py
  src/toil/jobStores/googleJobStore.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Improve Dockstore test to report logs on error
  src/toil/test/wdl/wdltoil_test.py
Due: none

Start replacing files with inodes in the WDL interpreter
  src/toil/wdl/wdltoil.py
Due: none

Only check cachedir existence
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Try to get rid of complaints about not being able to bind IPv6 loopback ports
  src/toil/utils/toilSshCluster.py
Due: none

Handle renamed test class and follow future renames
  src/toil/test/cwl/cwlTest.py
  src/toil/test/provisioners/clusterTest.py
Due: cwl_v1.2

Use correct method for adding one item
  src/toil/utils/toilSshCluster.py
Due: none

url class file
  src/toil/lib/url.py
Due: none

Use different Google Cloud example file since the Broad data is now requester-pays
  src/toil/test/wdl/md5sum/md5sum-gs.json
Due: none

test url exists
  src/toil/test/lib/test_url.py
Due: none

test public url access class methods
  src/toil/test/lib/test_url.py
Due: none

Suppress spurious nvidia warnings. (#5307)
  src/toil/lib/accelerators.py
  src/toil/test/wdl/md5sum/md5sum-gs.json
Due: none

Add back test_class
  src/toil/test/provisioners/clusterTest.py
Due: none

Rename and re-type more functions for inodes
  src/toil/wdl/wdltoil.py
Due: none

Support relaxing quant checks in WDL (#5308)
  src/toil/options/wdl.py
  src/toil/wdl/wdltoil.py
Due: none

Add missing CWL badges (#5309)
  docs/cwl/conformance.rst
Due: none

Memoize Google client when downloading files. (#5311)
  src/toil/jobStores/googleJobStore.py
Due: none

Sort out typing except for passing a generic function to a function
  src/toil/wdl/wdltoil.py
Due: none

add test decorators
  src/toil/test/lib/test_url.py
Due: none

Satisfy MyPy with vigorous waving of cast() and protocols
  src/toil/wdl/wdltoil.py
Due: none

Update real world example + WDL docs + rename importWorkersThreshold
  docs/gettingStarted/quickStart.rst
  docs/wdl/running.rst
  src/toil/cwl/cwltoil.py
  src/toil/options/runner.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

pr review changes made, doc strings updated, return types added, overrides of _import_file or _export_file checked
  src/toil/jobStores/abstractJobStore.py
  src/toil/test/lib/test_url.py
Due: none

Update src/toil/server/wes/abstract_backend.py
  src/toil/server/wes/abstract_backend.py
Due: none

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  batchsystem: any of: src/toil/test/batchSystems/test_gridengine.py, src/toil/batchSystems/gridengine.py
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
