Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, cactus_integration

cwl_v1.2:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  - echo $'Host *\n    AddressFamily inet' > /root/.ssh/config
  ...

cactus_integration:
  stage: integration
  script:
  - export CACTUS_COMMIT_SHA=f5adf4013326322ae58ef1eccb8409b71d761583
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  ...

Add more comments
  src/toil/test/wdl/wdltoil_test.py
Due: none

move url functions to job, remove dead imports, format with black
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Don't error on collision (#5138)
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Change envvar to USE_SSL and move to separate file to put original copyright license in
  docs/appendices/environment_vars.rst
  src/toil/jobStores/abstractJobStore.py
Due: none

Forgot to add file
  src/toil/jobStores/ftp_utils.py
Due: none

Update to python 3.13
  .gitlab-ci.yml
  docker/Dockerfile.py
  setup.py
Due: none

missing space in rst
  docs/appendices/environment_vars.rst
Due: none

Fix unexecuted CWL jobs with dynamic requirements failing on missing inputs (#5136)
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/not_run_required_input.cwl
Due: cwl_v1.2, cwl_on_arm

Add WDL unit tests to CI (#5110)
  src/toil/test/wdl/wdltoil_test.py
Due: none

mypy
  src/toil/lib/threading.py
Due: none

Add missing import
  src/toil/test/wdl/wdltoil_test.py
Due: none

Move Slurm test to Python 3.9 (latest installed in its Docker images)
  contrib/slurm-test/slurm_test.sh
Due: none

Bump psutil and remove cast MyPy suddenly hates in CI but not on my machine
  requirements.txt
  src/toil/lib/threading.py
Due: none

Remove some 3.8-isms
  src/toil/test/wdl/wdltoil_test.py
Due: none

Pyupgrade the new integration file
  src/toil/lib/integration.py
Due: none

Remove more 3.8-isms
  src/toil/lib/integration.py
Due: none

remove 3.12 from normal run and deal with htcondor
  .gitlab-ci.yml
Due: none

Don't leave behind job store if CWL options don't parse, and add more debugging to tests I can't replicate
  src/toil/cwl/cwltoil.py
  src/toil/test/utils/utilsTest.py
  src/toil/utils/toilStatus.py
Due: cwl_v1.2, cwl_on_arm

Revert "Remove more 3.8-isms"
  src/toil/lib/integration.py
Due: none

Revert "Remove some 3.8-isms"
  src/toil/test/wdl/wdltoil_test.py
Due: none

Remove List
  src/toil/test/wdl/wdltoil_test.py
Due: none

Remove 3.10 type that shouldn't be needed
  src/toil/lib/threading.py
Due: none

Address comments
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/lib/io.py
  src/toil/options/runner.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

mypy
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Also update prebake file
  contrib/toil-ci-prebake/Dockerfile
Due: none

Fix error string placeholder
  src/toil/test/utils/utilsTest.py
Due: none

Take over manual management of CWL job order options and their metavars and help
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/test/utils/utilsTest.py
Due: cwl_v1.2, cwl_on_arm

Remove now-false note about needing = syntax
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Update the Mesos repo snapshot
  docker/Dockerfile.py
Due: none

Actually update the Mesos repo snapshot
  docker/Dockerfile.py
Due: none

Try and fix flaky parallel recursive service test by bounding failure probability
  src/toil/test/src/jobServiceTest.py
Due: none

Eliminate randInt references
  src/toil/test/src/jobServiceTest.py
Due: none

Detect running out of disk space with OSError instead
  src/toil/job.py
Due: none

Don't keep FTP objects around forever and disable FTP SSL by default
  docs/appendices/environment_vars.rst
  src/toil/jobStores/abstractJobStore.py
  src/toil/lib/ftp_utils.py
Due: none

Fix perfect version of service tests
  src/toil/test/src/jobServiceTest.py
Due: none

Fix Slurm memory test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Fix and test PerfectServiceTest
  src/toil/test/src/jobServiceTest.py
Due: none

fix unrelated typing error due to new version of psutil
  src/toil/lib/threading.py
Due: none

Fix bug in coordination dir override
  src/toil/common.py
Due: none

Stop printing command line options to toil-cwl-runner standard output
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
