Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_badge, cwl_on_arm, mesos, batchsystem, cactus_integration

cwl_v1.2:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script: 'pwd
  
    echo -e "\e[0Ksection_start:`date +%s`:prepare\r\e[0KDownload and install cwl & aws dependencies"
  
  ...

cwl_badge:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script: 'pwd
  
    echo -e "\e[0Ksection_start:`date +%s`:prepare\r\e[0KDownload and install cwl & aws dependencies"
  
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  cache:
    key: cache-python3.10
    paths:
    - .cache/pip
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,google,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  ...

batchsystem:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script:
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[all]
  ...

cactus_integration:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script:
  - export CACTUS_COMMIT_SHA=03295e9af99e2e9168ccd02e78a9f4c0c8dcd490
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  ...

Bypass test that hates Python <3.14 until we have a way to reproduce the problem outside CI (#5515)
  src/toil/test/server/serverTest.py
Due: none

Retry on ENOLCK from NFS lockd in fcntl-based locks (#4846) (#5508)
  src/toil/lib/threading.py
  src/toil/test/src/threadingTest.py
Due: none

Bump version after patch release
  version_template.py
Due: none

Add deprecation warnings to GCE provisioner (#5506)
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/provisioners/gceProvisioner.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

address CPU usage warning test review feedback
  src/toil/test/src/jobTest.py
Due: none

address CPU usage warning test review feedback
  src/toil/job.py
Due: none

Run CWL jobs that should be skipped on the leader
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Record workflow metadata right away since it's always as available as it gets
  src/toil/common.py
Due: none

Add a test to pin down that we really can run CWL workflows by TRS ID and remember it for metrics
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/whalesay.json
Due: cwl_v1.2, cwl_badge

Update src/toil/test/__init__.py
  src/toil/test/__init__.py
Due: none

Removed redundant logger warnings for GCE
  src/toil/cwl/cwltoil.py
  src/toil/provisioners/gceProvisioner.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Fix default job store selection and error messaging for grid batch systems
  src/toil/cwl/cwltoil.py
  src/toil/jobStores/utils.py
  src/toil/wdl/wdltoil.py
  src/toil/worker.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Add tests for grid batch system job store selection and worker error messaging
  src/toil/jobStores/utils.py
  src/toil/test/jobStores/jobStoreTest.py
  src/toil/test/options/options.py
Due: none

Record TRS metadata for workflows that can't start (#5519)
  src/toil/common.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/whalesay.json
Due: cwl_v1.2, cwl_badge

Add support of QOS in Slurm batch system (#5514)
  docs/appendices/environment_vars.rst
  docs/running/cliOptions.rst
  src/toil/batchSystems/slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: none

Harden CPU overuse warning checks and add unit tests (#5512)
  src/toil/job.py
  src/toil/test/src/jobTest.py
Due: none

Add more exception handlers to kubernetes config loading (#5517)
  src/toil/test/__init__.py
Due: none

Add deprecation warnings to GCE provisioner (#5506) (#5518)
  src/toil/common.py
Due: none

Add sentinel exit code for inaccessible job store and leader warning
  src/toil/jobStores/utils.py
  src/toil/leader.py
  src/toil/test/options/options.py
  src/toil/worker.py
Due: none

Avoid upgrading packages to avoid upgrading libc
  docker/Dockerfile.py
Due: none

Set up binfmt in Toil builds
  .gitlab-ci.yml
Due: none

Rename disk_walltime_note to walltime_note
  src/toil/options/common.py
Due: none

Update Ubuntu version and Mesos target Ubuntu
  docker/Dockerfile.py
Due: none

Try using normal Singularity container runtime in case it works
  docker/Dockerfile.py
  docker/extra-debs.tsv
Due: none

Allow 0 walltime
  src/toil/options/common.py
Due: none

Move walltime to the end of the requirement list
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/options/common.py
  src/toil/test/batchSystems/batchSystemTest.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Determine walltime string without datetime
  src/toil/lib/conversions.py
Due: none

Convert to per-repo signing key that new Ubuntu needs
  docker/Dockerfile.py
Due: none

Remove lingering upgrade
  docker/Dockerfile.py
Due: none

Don't allow a None keyName in contravention of type annotations
  src/toil/utils/toilLaunchCluster.py
Due: none

Actually ask about queue size
  src/toil/batchSystems/kubernetes.py
Due: none

Don't fail workflow shutdown when a scaler can't stop because it wasn't supposed to be used
  src/toil/leader.py
  src/toil/provisioners/clusterScaler.py
Due: none

Try and prevent workflows with the wrong comnbination of batch system and autoscaler from actually starting
  src/toil/leader.py
Due: none

Add missing self
  src/toil/provisioners/clusterScaler.py
Due: none

Add missing default value
  src/toil/provisioners/clusterScaler.py
Due: none

Revise config validation to catch unacceptable batch system/provisioner combinations early and with a sensible message.
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Do early logging setup in CWL and WDL interpreters for nicer error output for inconsistent configurations
  src/toil/cwl/cwltoil.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Fix error name
  src/toil/wdl/wdltoil.py
Due: none

Try to explain what offending options to remove
  src/toil/common.py
Due: none

Add a test to make sure the check works
  src/toil/test/src/commonTests.py
Due: none

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_badge: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  batchsystem: any of: src/toil/test/batchSystems/test_gridengine.py, src/toil/batchSystems/gridengine.py
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
