Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, cactus_integration

cwl_v1.2:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  - echo $'Host *\n    AddressFamily inet' > /root/.ssh/config
  ...

cactus_integration:
  stage: integration
  script:
  - export CACTUS_COMMIT_SHA=f5adf4013326322ae58ef1eccb8409b71d761583
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  ...

Test badge generation on CI
  .gitlab-ci.yml
  Makefile
  src/toil/test/cwl/conftest.py
Due: cwl_v1.2

Catch validation exceptions
  src/toil/test/cwl/conftest.py
Due: cwl_v1.2

Add --awsAnonymousUrlAccess and TOIL_AWS_ANONYMOUS_URL_ACCESS
  docs/appendices/environment_vars.rst
  docs/running/cliOptions.rst
  src/toil/batchSystems/abstractBatchSystem.py
  src/toil/batchSystems/awsBatch.py
  src/toil/batchSystems/kubernetes.py
  src/toil/batchSystems/mesos/batchSystem.py
  src/toil/batchSystems/options.py
  src/toil/batchSystems/singleMachine.py
  src/toil/batchSystems/slurm.py
  src/toil/common.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/jobStores/aws/jobStore.py
  src/toil/jobStores/options.py
  src/toil/lib/aws/session.py
  src/toil/lib/aws/utils.py
  src/toil/options/__init__.py
  src/toil/options/common.py
  src/toil/test/batchSystems/batch_system_plugin_test.py
Due: mesos

Remove cruft and no-ops.
  src/toil/lib/aws/ami.py
  src/toil/test/lib/test_ec2.py
Due: none

Remove cruft and no-ops.
  src/toil/test/lib/test_ec2.py
Due: none

Tolerate not finding Flatcar releases in CI (#5201)
  src/toil/lib/aws/ami.py
  src/toil/test/lib/test_ec2.py
Due: none

Revert "Tolerate not finding Flatcar releases in CI (#5201)"
  src/toil/lib/aws/ami.py
  src/toil/test/lib/test_ec2.py
Due: none

Clean up.
  src/toil/lib/aws/ami.py
  src/toil/test/lib/test_ec2.py
Due: none

Get halfway through refactoring URL support out from the job store class and into implementations and accessor widgets
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/jobStores/aws/jobStore.py
  src/toil/jobStores/fileJobStore.py
  src/toil/jobStores/googleJobStore.py
  src/toil/options/__init__.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Broaden exception handling
  src/toil/test/cwl/conftest.py
Due: cwl_v1.2

Test if this changes anything
  .gitlab-ci.yml
Due: none

Split out URL utilities into their own file and use them
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/cwl/utils.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/jobStores/aws/jobStore.py
  src/toil/jobStores/fileJobStore.py
  src/toil/lib/url.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Stop the Toil object from getting pickled inside CWL jobs that want filestore access
  src/toil/cwl/cwltoil.py
  src/toil/fileStores/abstractFileStore.py
  src/toil/job.py
Due: cwl_v1.2, cwl_on_arm

Rework the pickling exceptions
  src/toil/fileStores/abstractFileStore.py
  src/toil/job.py
Due: none

Use new field name
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Adjust tests for new JobStore initialization dance
  src/toil/jobStores/abstractJobStore.py
  src/toil/test/jobStores/jobStoreTest.py
  src/toil/test/src/workerTest.py
Due: none

Actually implement new API in job store implementations
  src/toil/jobStores/aws/jobStore.py
  src/toil/jobStores/fileJobStore.py
  src/toil/jobStores/googleJobStore.py
  src/toil/wdl/wdltoil.py
Due: none

Updates.
  .gitlab-ci.yml
  contrib/admin/mypy-with-ignore.py
  src/toil/jobStores/aws/jobStore.py
  src/toil/jobStores/exceptions.py
  src/toil/lib/aws/config.py
  src/toil/lib/aws/s3.py
  src/toil/lib/aws/utils.py
  src/toil/lib/checksum.py
  src/toil/lib/conversions.py
  src/toil/lib/pipes.py
  src/toil/test/jobStores/jobStoreTest.py
Due: none

Clear the other hooks in the cwltool RuntimeContext
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Updated type ignore for mypy 1.15.0
  src/toil/wdl/wdltoil.py
Due: none

Remove .config references on the Toil object and isolate options tests
  src/toil/test/options/options.py
  src/toil/test/provisioners/aws/awsProvisionerTest.py
  src/toil/test/src/autoDeploymentTest.py
Due: none

Catch another config name
  src/toil/test/batchSystems/batch_system_plugin_test.py
Due: none

Update options documentation and enable bypassing file store when CWL task caching is enabled
  docs/running/cliOptions.rst
  src/toil/cwl/cwltoil.py
  src/toil/options/common.py
  src/toil/options/cwl.py
Due: cwl_v1.2, cwl_on_arm

Fix CWL cachedir test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Proof of concept in readme
  README.rst
Due: none

update readme
  README.rst
Due: none

More tests
  README.rst
Due: none

Fully convert to RST
  README.rst
Due: none

Remove unnecessary
  README.rst
Due: none

Add new EC2 instance list
  src/toil/lib/generatedEC2Lists.py
Due: none

Fix ec2nodes for new JSON format
  src/toil/lib/ec2nodes.py
Due: none

Add new EC2 instance list (#5209)
  src/toil/lib/generatedEC2Lists.py
Due: none

Fix ec2nodes for new JSON format (#5208)
  src/toil/lib/ec2nodes.py
Due: none

Python 3.12 has no distutils
  docker/Dockerfile.py
Due: none

Python 3.12 has no distutils (#5210)
  docker/Dockerfile.py
Due: none

Test normal python run
  .gitlab-ci.yml
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Prepare release
  version_template.py
Due: none

Run all tests
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Update version_template.py
  version_template.py
Due: none

Turn off job history recording until we can test it and Dockstore is ready for it
  src/toil/lib/history.py
Due: none

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
