Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_badge, cwl_on_arm, mesos, batchsystem, cactus_integration

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_badge: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  batchsystem: any of: src/toil/test/batchSystems/test_gridengine.py, src/toil/batchSystems/gridengine.py
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py

Change output hook and avoid hooking container types that don't need it
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Fix type checking
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Re-document interpreter.py
  src/toil/lib/interpreter.py
Due: none

Address interpreter.py review comments
  src/toil/lib/interpreter.py
Due: none

Note dependency on default runner
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge

Remove incomplete or unwanted tests
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge

Make interpreter.py able to be about more than just the code injection system
  src/toil/lib/interpreter.py
Due: none

Remove LoopOutputSource and LoopStepValueFrom
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Include `rev` in Toil appliance container (#5549)
  docker/Dockerfile.py
Due: none

Stop requiring a fixed Bash path and stop unpacking what could be real user argument lists
  src/toil/lib/interpreter.py
Due: none

Add Anthropic Claude's idea of what waste_cpu_memory.cwl probably was supposed to be
  src/toil/test/cwl/waste_cpu_memory.cwl
Due: cwl_v1.2, cwl_badge

Refactor loop tests to use cwltool package data, remove local CWL test files
  src/toil/test/__init__.py
  src/toil/test/cwl/all_output_loop.cwl
  src/toil/test/cwl/all_output_loop_no_iteration.cwl
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/default_value_loop.cwl
  src/toil/test/cwl/invalid_loop_scatter.cwl
  src/toil/test/cwl/invalid_loop_when.cwl
  src/toil/test/cwl/invalid_non_boolean_loop_when.cwl
  src/toil/test/cwl/loop_inside_loop.cwl
  src/toil/test/cwl/loop_inside_loop_all.cwl
  src/toil/test/cwl/loop_inside_scatter.cwl
  src/toil/test/cwl/loop_inside_scatter_job.json
  src/toil/test/cwl/multi_source_loop.cwl
  src/toil/test/cwl/single_var_loop.cwl
  src/toil/test/cwl/single_var_loop.json
  src/toil/test/cwl/single_var_loop_no_iteration.cwl
  src/toil/test/cwl/two_vars_loop.cwl
  src/toil/test/cwl/two_vars_loop_job.json
  src/toil/test/cwl/value_from_loop.cwl
Due: cwl_v1.2, cwl_badge

Improve types in CWLLoopAccumulate and StepValueFrom, guard None source in resolve()
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Fix loop test expected values, add test_loop_value_from_fail_no_requirement
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge

Rename StepValueFrom to ValueFrom, fix do_eval inputs, improve run() types and assertions
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Improve comments in loop output method branching, fix wfjob/followOn type annotations
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Add CWL + MPI docs
  docs/cwl/running.rst
Due: none

Add inline comments, fix CWLLoop docstring, pull out loop field alongside when/outputMethod
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

POSIX-ify injected shell code
  src/toil/lib/interpreter.py
Due: none

Stop assuming stat
  src/toil/lib/interpreter.py
Due: none

Read cpu stats the same way for cgroups v1 as v2
  src/toil/lib/interpreter.py
Due: none

Mechanically translate awk to shell
  src/toil/lib/interpreter.py
Due: none

Complain about how we need to add a mount somehow
  src/toil/cwl/cwltoil.py
  src/toil/lib/interpreter.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Hide the usage data in the temp directory
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Make sure to stop the background monitoring process in the container
  src/toil/lib/interpreter.py
Due: none

Add INTERPRETER_JOB_MEMORY/DISK constants, add StepInputExpressionRequirement validation for loop valueFrom
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Make bucket creation handle retry better if the bucket got created
  src/toil/jobStores/aws/jobStore.py
  src/toil/lib/aws/s3.py
Due: none

Fix mypy type declarations, inline empty conditional, fix docstring backticks, add validation comments in CWLLoop
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Use --badWorker=1.0 for deterministic failure, simplify restart to single attempt without --badWorker, add assert result_json is not None
  src/toil/test/wdl/wdltoil_test.py
Due: none

Pass through Interrupted exit codes in hopes of passing the fail-with-the-right-exit-code WDL test more
  src/toil/lib/interpreter.py
  src/toil/worker.py
Due: none

Move injection back into job class but just one this time
  src/toil/cwl/cwltoil.py
  src/toil/lib/interpreter.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Add a CWL file we could use as a test for getting back standard error log files for failing commands
  src/toil/test/cwl/fail_with_log.cwl
Due: cwl_v1.2, cwl_badge

Log resolved run paths; clarify missing-log warning
  src/toil/common.py
  src/toil/leader.py
Due: none

Add --runDir option to derive job store/work/coordination paths
  src/toil/common.py
  src/toil/options/common.py
Due: none

Reorder and document cwltoil.py
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/fail_with_log.cwl
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Hook the job method of all ToilTool Processes in a way we can sneak past MyPy
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Add test to make sure log is returned.
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/fail_with_log.cwl
Due: cwl_v1.2, cwl_badge

Add code in case something goes really wrong and the log is not there
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Wire --runDir into CWL/WDL job store and cache dirs
  src/toil/cwl/cwltoil.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Apply suggestions from code review
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm
