Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, cactus_integration

cwl_v1.2:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  - echo $'Host *\n    AddressFamily inet' > /root/.ssh/config
  ...

cactus_integration:
  stage: integration
  script:
  - export CACTUS_COMMIT_SHA=f5adf4013326322ae58ef1eccb8409b71d761583
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  ...

Add a timeout to the dialog boxes so they won't block forever if the user isn't there.
  src/toil/lib/history_submission.py
Due: none

Fix typing
  src/toil/lib/history_submission.py
Due: none

Add junit back
  .gitlab-ci.yml
Due: none

Revert to pytest but only use one thread until https://github.com/common-workflow-language/cwltest/issues/239 is fixed
  .gitlab-ci.yml
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Implement history deletion and some HistoryManager tests
  src/toil/common.py
  src/toil/lib/history.py
  src/toil/test/lib/test_history.py
Due: none

Move vacuum out of duplicative enclosing transaction
  src/toil/lib/history.py
Due: none

Get non-transaction-compatible statements to happen outside the implicit transaction we get on Python 3.12+
  src/toil/lib/history.py
Due: none

Try anonymous access to S3 URLs for read and log in as a fallback
  src/toil/jobStores/aws/jobStore.py
  src/toil/lib/aws/session.py
  src/toil/lib/aws/utils.py
  src/toil/wdl/wdltoil.py
Due: none

Cache the bucket location so we don't poll it for every anonymous file attempt
  src/toil/lib/aws/utils.py
  src/toil/wdl/wdltoil.py
Due: none

Add worker unsticker that does lsof periodically
  src/toil/worker.py
Due: none

Simplify unstick thread to use atexit and daemon-ness for all shutdowns
  src/toil/worker.py
Due: none

Fix type hints
  src/toil/worker.py
Due: none

Remove dead code and add clarifications
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Apply suggestions from code review
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Add page for CWL conformance badges
  docs/cwl/conformance.rst
Due: none

Fix variable reference and failing CWL tests
  src/toil/jobStores/aws/jobStore.py
Due: none

Add tests for secondary files, import missing log, and catch if importing a missing file
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/optional-file-exists.json
  src/toil/test/cwl/optional-file-missing.json
  src/toil/test/cwl/optional-file.cwl
Due: cwl_v1.2, cwl_on_arm

Simple anonymous aws (#5213)
  src/toil/jobStores/aws/jobStore.py
  src/toil/lib/aws/session.py
  src/toil/lib/aws/utils.py
  src/toil/wdl/wdltoil.py
Due: none

Fix paths
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Change links to master and add back rest
  .gitlab-ci.yml
  README.rst
  docs/cwl/conformance.rst
  docs/cwl/running.rst
  docs/index.rst
Due: none

Revert inplace update test back to normal python call, fix dead variable in rst
  .gitlab-ci.yml
  docs/cwl/conformance.rst
Due: none

Add back dropped marker
  Makefile
Due: none

Recurse sacct in half to deal with arg too big and add fallback for sacct when OSError is raised
  src/toil/batchSystems/slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: none

Add caching support for CWL (#5187)
  docs/running/cliOptions.rst
  src/toil/cwl/cwltoil.py
  src/toil/options/common.py
  src/toil/options/cwl.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Fix test bad paths
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Apply suggestions from code review
  Makefile
  docs/cwl/conformance.rst
Due: none

Make releases keep badges indefinitely
  .gitlab-ci.yml
Due: none

Add tests for and fix Slurm partition selection
  src/toil/batchSystems/slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: none

Try to prevent people sending --time and it getting clobbered
  src/toil/batchSystems/slurm.py
Due: none

Linting.
  .gitlab-ci.yml
  contrib/admin/mypy-with-ignore.py
  src/toil/jobStores/aws/jobStore.py
  src/toil/jobStores/exceptions.py
  src/toil/lib/aws/s3.py
  src/toil/lib/checksum.py
  src/toil/lib/exceptions.py
  src/toil/lib/iterables.py
  src/toil/lib/pipes.py
  src/toil/resource.py
  src/toil/test/__init__.py
  src/toil/test/src/autoDeploymentTest.py
Due: none

Add tests for and fix Slurm partition selection (#5224)
  src/toil/batchSystems/slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: none

Recurse sacct in half to deal with arg too big and add fallback for sacct when OSError is raised (#5221)
  src/toil/batchSystems/slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: none

Stop running non-release badge generation on every non-release pipeline, and put the badge JSONs in the 1.2 directory, and don't keep JUnits forever
  .gitlab-ci.yml
Due: none

Separate out required features badge and add to README
  README.rst
  docs/cwl/conformance.rst
Due: none

Include lsof return code or lack thereof in the warning when it fails
  src/toil/worker.py
Due: none

Make improvements from code review
  docs/appendices/environment_vars.rst
  docs/running/cliOptions.rst
  src/toil/__init__.py
  src/toil/common.py
  src/toil/job.py
  src/toil/lib/dockstore.py
  src/toil/lib/ec2nodes.py
  src/toil/lib/history_submission.py
  src/toil/lib/io.py
  src/toil/lib/retry.py
  src/toil/lib/trs.py
  src/toil/lib/web.py
  src/toil/options/common.py
  src/toil/provisioners/gceProvisioner.py
  src/toil/server/cli/wes_cwl_runner.py
  src/toil/server/utils.py
  src/toil/statsAndLogging.py
  src/toil/test/wdl/wdltoil_test.py
Due: none

Set icon for CWL conformance test badge
  README.rst
Due: none

Add missing input file
  src/toil/test/cwl/revsort-job-missing.json
Due: cwl_v1.2

Add CWL badges (#5219)
  .gitlab-ci.yml
  Makefile
  README.rst
  docs/cwl/conformance.rst
  docs/cwl/running.rst
  docs/index.rst
  src/toil/test/cwl/conftest.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Improve missing file error message (#5218)
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/optional-file-exists.json
  src/toil/test/cwl/optional-file-missing.json
  src/toil/test/cwl/optional-file.cwl
  src/toil/test/cwl/revsort-job-missing.json
Due: cwl_v1.2, cwl_on_arm

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
