Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_badge, cwl_on_arm, mesos, batchsystem, cactus_integration

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_badge: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  batchsystem: any of: src/toil/test/batchSystems/test_gridengine.py, src/toil/batchSystems/gridengine.py
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py

Actually save changes to the backoff help text
  src/toil/options/common.py
Due: none

Use Gitlab 18.9 new feature to find the JSON for the CWL conformance badge
  README.rst
Due: none

Finish renaming field to _retry_backoff_seconds
  src/toil/job.py
Due: none

Add semi-synthetic typing to job.py
  contrib/admin/mypy-with-ignore.py
  src/toil/cwl/cwltoil.py
  src/toil/deferred.py
  src/toil/job.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/lib/expando.py
  src/toil/statsAndLogging.py
  src/toil/test/src/jobServiceTest.py
  src/toil/test/src/jobTest.py
  src/toil/test/src/retainTempDirTest.py
  src/toil/toilState.py
  src/toil/wdl/wdltoil.py
  src/toil/worker.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Figure out why we can't actually use ParamSpec while we support Python 3.10 for the docs
  src/toil/job.py
Due: none

Satisfy Sphinx by quoting all the Ps
  src/toil/job.py
Due: none

Stop waiting for bytes to be str, and add a timeout to doctests
  src/toil/conftest.py
  src/toil/lib/pipes.py
Due: none

Fix exception repr in doctest
  src/toil/lib/pipes.py
Due: none

Demote 3.13 tests to scheduled since we run 3.14 now
  .gitlab-ci.yml
Due: none

Restrict batch size and disk for worker import to being ints, like the CLI options parse
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: none

Make promises harder to break (#5457)
  .gitlab-ci.yml
  src/toil/conftest.py
  src/toil/jobStores/fileJobStore.py
  src/toil/jobStores/googleJobStore.py
  src/toil/lib/aws/s3.py
  src/toil/lib/pipes.py
  src/toil/test/jobStores/jobStoreTest.py
Due: none

Fix cwl badge URLs on conformance page to ask Gitlab to look for the file
  docs/cwl/conformance.rst
Due: none

Warn but proceed if we are not able to retrieve Slurm partition information
  src/toil/batchSystems/mesos/batchSystem.py
  src/toil/batchSystems/slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: mesos

Change main Python to the one we actually build the appliance for
  .gitlab-ci.yml
Due: none

Fix cwl badge URLs on conformance page to ask Gitlab to look for the file (#5464)
  docs/cwl/conformance.rst
Due: none

Make sure cleaning works even when the workflow fails
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/echo_string_and_fail.cwl
Due: cwl_v1.2, cwl_badge

Speed up tests and avoid directory creation race
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Perform unnecessary incantations to appease mypy
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Remove dubious additional cleanup step not actually needed to pass the tests for cleanup
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Stop documenting the workaround every time
  src/toil/options/cwl.py
Due: none

Validate that we really do need to copy outputs and not move them when doing cleanup and byapssing filestore
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Make `toil-cwl-runner --rm-tmpdir` work (#5466)
  .gitlab-ci.yml
  src/toil/cwl/cwltoil.py
  src/toil/options/cwl.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/echo_string_and_fail.cwl
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Add typing to job.py (#5462)
  contrib/admin/mypy-with-ignore.py
  src/toil/cwl/cwltoil.py
  src/toil/deferred.py
  src/toil/job.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/lib/expando.py
  src/toil/statsAndLogging.py
  src/toil/test/src/jobServiceTest.py
  src/toil/test/src/jobTest.py
  src/toil/test/src/retainTempDirTest.py
  src/toil/toilState.py
  src/toil/wdl/wdltoil.py
  src/toil/worker.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Synthesize code to handle more kinds of trouble from Flatcar feed servers
  src/toil/lib/aws/ami.py
Due: none

Update EC2 instances
  src/toil/lib/generatedEC2Lists.py
Due: none

Bump mainline version for release
  version_template.py
Due: none

Set version for release
  version_template.py
Due: none

Synthesize code to handle more kinds of trouble from Flatcar feed servers (#5468)
  src/toil/lib/aws/ami.py
Due: none

Resynthesize script to just use the log
  contrib/admin/find_hanging_tests.py
Due: none

Rework script to make more sense and add global test timeout
  contrib/admin/find_hanging_tests.py
  pyproject.toml
  requirements-dev.txt
Due: none

Add fresh synthetic script that might be able to find jobs that hang but can't actually use the Gitlab API
  contrib/admin/find_hanging_tests.py
Due: none

Synthesize script simpler
  contrib/admin/find_hanging_tests.py
Due: none

Update src/toil/test/batchSystems/test_slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: none

Bump version for release branch
  version_template.py
Due: none

Update src/toil/test/batchSystems/test_slurm.py
  src/toil/batchSystems/slurm.py
  src/toil/test/batchSystems/test_slurm.py
Due: none

Fix mypy
  src/toil/batchSystems/slurm.py
Due: none

Make warning less sure
  src/toil/batchSystems/slurm.py
Due: none
