Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_badge, cwl_on_arm, mesos, batchsystem, cactus_integration

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_badge: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  batchsystem: any of: src/toil/test/batchSystems/test_gridengine.py, src/toil/batchSystems/gridengine.py
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py

Show standard error for failing CWL jobs that capture standard error (#5555)
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/fail_with_log.cwl
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Make --workDir/--coordinationDir create-if-missing; reorder failure log warning
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/leader.py
  src/toil/lib/io.py
  src/toil/options/common.py
  src/toil/test/options/options.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Fix misleading comment on --runDir jobStore derivation branch
  src/toil/common.py
  src/toil/test/options/options.py
Due: none

Modify CodeQL analysis workflow configuration
  .github/workflows/codeql-analysis.yml
Due: none

Add tests for --runDir end-to-end wiring and ensure_dur exists
  src/toil/test/cwl/cwlTest.py
  src/toil/test/lib/test_misc.py
  src/toil/test/options/options.py
  src/toil/test/wdl/wdltoil_test.py
Due: cwl_v1.2, cwl_badge

Flag --runDir job store collision risk with concurrent workflows
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Call ensure_dir_exists at worker start-up
  src/toil/worker.py
Due: none

Deduplicate --runDir derivation into a shared function
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Use a UUID for --runDir-derived job store paths
  src/toil/common.py
Due: none

Find the cursor correctly for error reporting
  src/toil/fileStores/cachingFileStore.py
Due: none

Test derive_run_dir_defaults directly instead of via each entry point
  src/toil/test/cwl/cwlTest.py
  src/toil/test/options/options.py
  src/toil/test/src/commonTests.py
  src/toil/test/wdl/wdltoil_test.py
Due: cwl_v1.2, cwl_badge

Stop deleting every downloaded or uploaded file when a job finishes
  src/toil/fileStores/cachingFileStore.py
Due: none

Report if missing files in the cache are actually broken symlinks
  src/toil/fileStores/cachingFileStore.py
Due: none

Make PID status test deterministic (resolves #5232)
  src/toil/test/utils/utilsTest.py
Due: none

Further debug missing cache files (#5561)
  src/toil/fileStores/cachingFileStore.py
Due: none

docs: give the WDL quickstart example a version and test it
  docs/gettingStarted/quickStart.rst
  src/toil/test/docs/scripts/wdl-helloworld.json
  src/toil/test/docs/scripts/wdl-helloworld.wdl
  src/toil/test/wdl/wdltoil_test.py
Due: none

Upgrade miniwdl to 1.15.0 and refresh WDL unit test skip lists
  requirements-wdl.txt
  src/toil/test/wdl/wdltoil_test.py
Due: none

Evaluate CWL `when` conditionals before scheduling to avoid wasted batch-system submissions
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/conditional_step_depends_on_step.cwl
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Fix CallCache.put() call sites for miniwdl 1.15.0 and correct return-code test comments
  src/toil/test/wdl/wdltoil_test.py
  src/toil/wdl/wdltoil.py
Due: none

Scope conditional test assertions to the right step, rename for clarity
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge

Fix failing read of toildir in ValueFrom.eval_prep when loadContents is true (#5568)
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Make sure to actually change the randomized encrypted bytes
  src/toil/lib/encryption/_nacl.py
Due: none

Move workflow code from string to function
  src/toil/test/utils/utilsTest.py
Due: none

Work around mypy bug https://github.com/python/mypy/issues/4182
  src/toil/test/utils/utilsTest.py
Due: none

Make sure to actually change the randomized encrypted bytes (#5571)
  src/toil/lib/encryption/_nacl.py
Due: none

docs: give the WDL quickstart example a version and test it (#5566)
  docs/gettingStarted/quickStart.rst
  src/toil/test/docs/scripts/wdl-helloworld.json
  src/toil/test/docs/scripts/wdl-helloworld.wdl
  src/toil/test/wdl/wdltoil_test.py
Due: none

Use __name__ instead of deprecated __loader__ to find module
  src/toil/test/utils/utilsTest.py
Due: none

Restrict ValueFrom.eval_prep to load only one step input instead of all (#5568)
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Support step input loadContents for File array (#5568)
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Make PID status test deterministic (resolves #5232) (#5565)
  src/toil/test/utils/utilsTest.py
Due: none

make the edit_distance package optional
  src/toil/test/jobStores/jobStoreTest.py
Due: none

CWL: Fix step input `valueFrom` with `loadContents: true` (#5570)
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Address review feedback rename misleading sleep input, fix CWLJobWrapper docstring
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/conditional_step_depends_on_step.cwl
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Redefine what creation_time is for
  src/toil/lib/history.py
Due: none

make the edit_distance package optional (#5573)
  src/toil/test/jobStores/jobStoreTest.py
Due: none

Remove dead conditional logic from CWLJob, use Conditional.is_conditional()
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Don't imply job store can move in idempotency test
  src/toil/test/lib/test_history.py
Due: none

Fix test_dockstore mock after record_workflow_creation gating change
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge

Change non-conditional conditionals to empty conditionals
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Call record_workflow_creation on every run (#5574)
  src/toil/common.py
  src/toil/lib/history.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/lib/test_history.py
Due: cwl_v1.2, cwl_badge
