Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, cactus_integration

cwl_v1.2:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  - echo $'Host *\n    AddressFamily inet' > /root/.ssh/config
  ...

cactus_integration:
  stage: integration
  script:
  - export CACTUS_COMMIT_SHA=f5adf4013326322ae58ef1eccb8409b71d761583
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  ...

Fix WDL argument parsing for 3.12 behavior
  src/toil/common.py
  src/toil/wdl/wdltoil.py
Due: none

types-psutil-6.1.0.20241102
  requirements-dev.txt
  src/toil/lib/threading.py
Due: none

Add support for running Dockstore page URLs and TRS IDs (#5102)
  contrib/slurm-test/slurm_test.sh
  docker/Dockerfile.py
  requirements.txt
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/lib/integration.py
  src/toil/lib/io.py
  src/toil/lib/threading.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/lib/test_integration.py
  src/toil/test/src/jobServiceTest.py
  src/toil/test/utils/utilsTest.py
  src/toil/test/wdl/wdltoil_test.py
  src/toil/utils/toilStatus.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

types-psutil-6.1.0.20241102
  requirements-dev.txt
Due: none

Fix logic in worker import loop
  src/toil/job.py
Due: none

Update to Python 3.13 (#5145)
  .gitlab-ci.yml
  contrib/toil-ci-prebake/Dockerfile
  docker/Dockerfile.py
  setup.py
Due: none

Fix bad caching
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

set minimum version of types-psutil to match previous type update (#5156)
  requirements-dev.txt
Due: none

Fix CWL Workflow Slurm memory test (#5151)
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Let workDir and jobStore default to tmp-outdir-prefix
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Jobstore needs its own directory
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

No need to set options.tmp_outdir_prefix
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Update documentation
  docs/running/cliOptions.rst
Due: none

Do not create working directory on head node
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Improve documentation of workDir option
  docs/running/cliOptions.rst
Due: none

Fix HTTP errors + add prot_p in secure mode
  src/toil/jobStores/abstractJobStore.py
  src/toil/lib/ftp_utils.py
Due: none

Add wdl-conformance-tests to gitignore and sphinx config + remove unsued imports in job + get rid of wdl dependency in job.py
  .gitignore
  docs/conf.py
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: none

Always try to use SSL before falling back, raising if user enforces SSL
  src/toil/lib/ftp_utils.py
Due: none

Change environment_vars.rst to reflect enforcement
  docs/appendices/environment_vars.rst
Due: none

add proper port suport
  src/toil/lib/ftp_utils.py
Due: none

Update src/toil/cwl/cwltoil.py
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Do not reset listingn in workflows
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Don't set `no_listing` in builder init for Workflows (#5149)
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Update src/toil/job.py
  src/toil/job.py
Due: none

Some type hinting improvements
  src/toil/cwl/cwltoil.py
  src/toil/job.py
Due: cwl_v1.2, cwl_on_arm

Make file job store stats and logging files flow one way, and never show partially written logs (#5141)
  src/toil/jobStores/fileJobStore.py
Due: none

Suppress rebases
  .github/dependabot.yml
  .github/workflows/autoupdate.yaml
Due: none

Make merge checklist say you can check if a review has been addressed
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contributing/checklists.rst
Due: none

Use base disk instead of disk_size
  src/toil/job.py
Due: none

Fix mypy types
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Remove FTP SSL support and add comments
  src/toil/jobStores/abstractJobStore.py
  src/toil/lib/ftp_utils.py
Due: none

Remove envvar
  docs/appendices/environment_vars.rst
Due: none

Update comment
  docs/running/cliOptions.rst
Due: none

Add FTP support to jobstores (#5142)
  docs/appendices/environment_vars.rst
  src/toil/jobStores/abstractJobStore.py
  src/toil/lib/aws/utils.py
  src/toil/lib/ftp_utils.py
Due: none

Fix bug with importing tool associated files
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Test smarter, not harder (#5166)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/autoupdate.yaml
  docs/contributing/checklists.rst
Due: none

workDir and jobStore now default to (shared) tmp-outdir-prefix (#5154)
  docs/running/cliOptions.rst
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Mypy issues
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Add cachedir argument and make sure directories exist
  src/toil/cwl/cwltoil.py
  src/toil/options/cwl.py
Due: cwl_v1.2, cwl_on_arm

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
