Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_badge, cwl_on_arm, mesos, batchsystem, cactus_integration

cwl_v1.2:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script: 'pwd
  
    echo -e "\e[0Ksection_start:`date +%s`:prepare\r\e[0KDownload and install cwl & aws dependencies"
  
  ...

cwl_badge:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script: 'pwd
  
    echo -e "\e[0Ksection_start:`date +%s`:prepare\r\e[0KDownload and install cwl & aws dependencies"
  
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  cache:
    key: cache-python3.10
    paths:
    - .cache/pip
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,google,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  ...

batchsystem:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script:
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[all]
  ...

cactus_integration:
  stage: integration
  cache:
    key: cache-$MAIN_PYTHON_PKG
    paths:
    - .cache/pip
  script:
  - export CACTUS_COMMIT_SHA=03295e9af99e2e9168ccd02e78a9f4c0c8dcd490
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  ...

Point at new in-development MiniWDL and spec versions
  requirements-wdl.txt
  src/toil/test/wdl/wdltoil_test.py
Due: none

Fix file gather in WDL (#5394)
  src/toil/test/wdl/testfiles/gather.wdl
  src/toil/test/wdl/wdltoil_test.py
  src/toil/wdl/wdltoil.py
Due: none

Set version for 9.1.1 release
  version_template.py
Due: none

Set version for next patch development
  version_template.py
Due: none

Use streams to make the status sentinel shared files
  src/toil/leader.py
Due: none

Use streams to make the status sentinel shared files (#5398)
  src/toil/leader.py
Due: none

Bump version for patch release
  version_template.py
Due: none

Bump version for next patch release
  version_template.py
Due: none

Fix typos
  docs/running/hpcEnvironments.rst
  src/toil/batchSystems/slurm.py
  src/toil/common.py
  src/toil/lib/dockstore.py
  src/toil/lib/io.py
  src/toil/lib/plugins.py
  src/toil/provisioners/clusterScaler.py
Due: none

Set up with test runner that can handle MiniWDL failure and test code we can import
  src/toil/test/wdl/wdltoil_test.py
Due: none

Change from excluding unit tests by number to excluding by ID
  src/toil/test/wdl/wdltoil_test.py
Due: none

xfail all the WDL 1.2 conformance tests that fail
  src/toil/test/wdl/wdltoil_test.py
Due: none

Fix primitive_literals test
  src/toil/test/wdl/wdltoil_test.py
Due: none

Note why test doesn't work
  src/toil/test/wdl/wdltoil_test.py
Due: none

Skip optional_output_task which needs some file matching added
  src/toil/test/wdl/wdltoil_test.py
Due: none

Remove robot mistakes
  src/toil/test/wdl/wdltoil_test.py
Due: none

Use conformance tests that no longer care about 1.1.3
  src/toil/test/wdl/wdltoil_test.py
Due: none

Skip the correct write_json test
  src/toil/test/wdl/wdltoil_test.py
Due: none

Fix typos (#5403)
  docs/running/hpcEnvironments.rst
  src/toil/batchSystems/slurm.py
  src/toil/common.py
  src/toil/lib/dockstore.py
  src/toil/lib/io.py
  src/toil/lib/plugins.py
  src/toil/provisioners/clusterScaler.py
Due: none

Skip correct unimplemented import test, new length feature test, and additional broken test
  src/toil/test/wdl/wdltoil_test.py
Due: none

Skip more tests for things we don't support
  src/toil/test/wdl/wdltoil_test.py
Due: none

Add missing `f` for error message `f`-string
  src/toil/batchSystems/abstractBatchSystem.py
Due: none

Enable WDL 1.2 spec testing (#5405)
  .gitlab-ci.yml
  requirements-wdl.txt
  src/toil/test/wdl/wdltoil_test.py
Due: none

Add missing `f` for error message `f`-string (#5408)
  src/toil/batchSystems/abstractBatchSystem.py
Due: none

Add tests for the file URI/import-on-workers combination in CWL and in WDL
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/download_file_uri.json
  src/toil/test/cwl/download_file_uri_no_hostname.json
  src/toil/test/wdl/wdltoil_test.py
Due: cwl_v1.2, cwl_badge

Commit Anthropic Claude's idea of how we ought to handle not getting the right file URI in the dict
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/jobStores/fileJobStore.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Stop throwing away half the import return value
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Port don't-link-tool-associated-files feature to worker imports
  src/toil/cwl/cwltoil.py
  src/toil/job.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Un-ref ref that doesn't ref
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_badge

Avoid duplicate imports between tool and unknown-size files
  src/toil/cwl/cwltoil.py
  src/toil/job.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Revise comments and formatting to be more useful
  src/toil/cwl/cwltoil.py
  src/toil/job.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Move a bunch of file-import-specific logic out of visit_files
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Avoid duplicate imports for tool files and input files in worker-import mode
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Fix doc formatting
  src/toil/job.py
Due: none

Fix file URI handling bug with worker import (#5410)
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/jobStores/fileJobStore.py
  src/toil/test/cwl/cwlTest.py
  src/toil/test/cwl/download_file_uri.json
  src/toil/test/cwl/download_file_uri_no_hostname.json
  src/toil/test/wdl/wdltoil_test.py
Due: cwl_v1.2, cwl_badge, cwl_on_arm

Deploy the walrus to fix #5411
  src/toil/lib/aws/ami.py
Due: none

gitlab-ci: separate caches for the CWL/WDL dependency checks
  .gitlab-ci.yml
Due: none

type fixes
  src/toil/lib/aws/s3.py
  src/toil/lib/docker.py
  src/toil/wdl/wdltoil.py
Due: none

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_badge: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  batchsystem: any of: src/toil/test/batchSystems/test_gridengine.py, src/toil/batchSystems/gridengine.py
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
