Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, cactus_integration

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py

Collect and Dockstore-ify task resources
  src/toil/job.py
  src/toil/lib/dockstore.py
  src/toil/lib/history.py
  src/toil/statsAndLogging.py
  src/toil/utils/toilHistory.py
Due: none

Actually send new metadata to history manager
  src/toil/common.py
  src/toil/lib/dockstore.py
  src/toil/lib/history.py
  src/toil/utils/toilHistory.py
Due: none

Declare migration bankruptcy
  src/toil/lib/history.py
Due: none

Fill in the new workflow run extra fields right
  src/toil/common.py
  src/toil/lib/history.py
Due: none

Implement metrics publication switch and a place to dialog with the user
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/lib/history.py
  src/toil/lib/history_submission.py
  src/toil/lib/io.py
  src/toil/options/common.py
  src/toil/utils/toilHistory.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

CWL container prepull: no reason to if extensions are enabled, they are now supported by cwl-utils 0.36+
  requirements-cwl.txt
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

CWL container prepull: skip if --no-containers is specified
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Handle Python versions that don't have the autocommit setting yet
  src/toil/lib/history.py
Due: none

Start on a dialog system that breaks asyncio
  requirements.txt
  src/toil/common.py
  src/toil/lib/history_submission.py
Due: none

Write plausible tkinter code that thinks about all options
  src/toil/lib/history_submission.py
Due: none

Change variable names from code review
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Update cwltool
  requirements-cwl.txt
Due: none

Implement tkinter dialog
  src/toil/lib/history_submission.py
Due: none

Give MiniWDL an event loop always
  src/toil/lib/history_submission.py
  src/toil/wdl/wdltoil.py
Due: none

Drop AppleScript as a strategy since its dialogs can't display enough stuff.
  src/toil/lib/history_submission.py
Due: none

Improve publishing message
  src/toil/lib/history_submission.py
Due: none

Reword options to handle not having an incognito mode
  src/toil/lib/history_submission.py
Due: none

Remove toil history command so it can be its own PR
  src/toil/utils/toilHistory.py
  src/toil/utils/toilMain.py
Due: none

Revert "Remove toil history command so it can be its own PR"
  src/toil/utils/toilHistory.py
  src/toil/utils/toilMain.py
Due: none

Don't actually submit any tasks by default for now
  src/toil/lib/history_submission.py
Due: none

Give the tkinter dialog its own process to avoid linking the main Toil Python to the Mac dock
  src/toil/lib/history_submission.py
Due: none

Document new options and debugging environment variables
  docs/appendices/environment_vars.rst
  docs/running/cliOptions.rst
  src/toil/options/common.py
Due: none

Set database file permissions
  src/toil/lib/history.py
Due: none

Bump htcondor version everywhere to avoid vanished 10.x releases
  .gitlab-ci.yml
  requirements-htcondor.txt
Due: none

Add leader fallback for worker file imports (#5189)
  src/toil/cwl/cwltoil.py
  src/toil/job.py
Due: cwl_v1.2, cwl_on_arm

Use checksumming revsort test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Add apparently-mandatory metavar
  docs/running/cliOptions.rst
Due: none

Add a test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Do a copy when not bypassing filestore and when caching is enabled
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Fix test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Add cachedir argument and make sure directories exist
  src/toil/cwl/cwltoil.py
  src/toil/options/cwl.py
Due: cwl_v1.2, cwl_on_arm

Add cache test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

CWL: Fix --no-container & prepull (#5188)
  requirements-cwl.txt
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Make tests and code agree on missing version behavior
  src/toil/lib/trs.py
  src/toil/test/lib/test_trs.py
Due: none

Bump htcondor version everywhere to avoid vanished 10.x releases (#5200)
  .gitlab-ci.yml
  requirements-htcondor.txt
Due: none

Liberally festoon DB code with closes and adopt infinite retries from caching code
  src/toil/lib/history.py
Due: none

Move database retries to top-level history methods
  src/toil/lib/history.py
Due: none

Handle workflow metadata not being available on restart in CWL
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Add version to TRS ID test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Use one outer retry loop and tolerate not finding Flatcar releases
  src/toil/lib/aws/ami.py
  src/toil/test/lib/test_ec2.py
Due: none
