Repository DataBiosphere/toil: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cwl_v1.2, cwl_on_arm, mesos, cactus_integration

cwl_v1.2:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  ...

cwl_on_arm:
  stage: integration
  script:
  - pwd
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[cwl,aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  - chmod 400 /root/.ssh/id_rsa
  ...

mesos:
  stage: integration
  script:
  - pwd
  - python3.10 -m virtualenv venv && . venv/bin/activate && pip install -U pip wheel && make prepare && make develop extras=[mesos,aws]
  - python setup_gitlab_ssh.py && chmod 400 /root/.ssh/id_rsa
  - echo $'Host *\n    AddressFamily inet' > /root/.ssh/config
  ...

cactus_integration:
  stage: integration
  script:
  - export CACTUS_COMMIT_SHA=f5adf4013326322ae58ef1eccb8409b71d761583
  - set -e
  - ${MAIN_PYTHON_PKG} -m virtualenv venv && . venv/bin/activate && make prepare && make develop extras=[aws]
  - python setup_gitlab_docker.py
  - python setup_gitlab_ssh.py
  ...

Fix bug in coordination dir override (#5153)
  src/toil/common.py
Due: none

Move rebase-strategy into each updates element
  .github/dependabot.yml
Due: none

Validate the Dependabot config during CI linting
  .github/dependabot.yml
  .gitlab-ci.yml
  requirements-dev.txt
Due: none

Move rebase-strategy into each updates element (#5176)
  .github/dependabot.yml
  .gitlab-ci.yml
  requirements-dev.txt
Due: none

Split workflow retrieval so we can keep the TRS info
  src/toil/lib/integration.py
Due: none

Visit all steps
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Generate FileNotFoundError for workflows that aren't real
  src/toil/lib/integration.py
  src/toil/test/lib/test_integration.py
Due: none

Sketch out how we might send some metrics one at a time
  src/toil/lib/integration.py
Due: none

Add a test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Use a pipes-free Cactus
  .gitlab-ci.yml
Due: none

Give the WDL Kubernetes cluster conformance tests a long time to run
  src/toil/test/wdl/wdltoil_test_kubernetes.py
Due: none

Fix Integration Tests (#5185)
  .gitlab-ci.yml
  src/toil/test/wdl/wdltoil_test_kubernetes.py
Due: none

Refactor to unify Requests calls
  src/toil/__init__.py
  src/toil/cwl/cwltoil.py
  src/toil/lib/dockstore.py
  src/toil/lib/ec2nodes.py
  src/toil/lib/retry.py
  src/toil/lib/trs.py
  src/toil/lib/web.py
  src/toil/provisioners/gceProvisioner.py
  src/toil/server/cli/wes_cwl_runner.py
  src/toil/server/utils.py
  src/toil/test/lib/test_trs.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Add more type info for the requests
  src/toil/lib/dockstore.py
  src/toil/lib/trs.py
Due: none

Record job start times since Dockstore needs them
  src/toil/job.py
  src/toil/statsAndLogging.py
Due: none

Make worker always save stats
  src/toil/worker.py
Due: none

Refactor Toil home finding
  src/toil/common.py
  src/toil/lib/dockstore.py
  src/toil/lib/history.py
  src/toil/lib/io.py
  src/toil/lib/trs.py
  src/toil/options/common.py
  src/toil/wdl/wdltoil.py
Due: none

Hook up hooks for recording job and workflow history
  src/toil/batchSystems/options.py
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/lib/history.py
  src/toil/lib/io.py
  src/toil/lib/trs.py
  src/toil/statsAndLogging.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Add filesize sniffing and parallelize importing on jobs (#5133)
  .gitignore
  docs/conf.py
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/job.py
  src/toil/jobStores/abstractJobStore.py
  src/toil/lib/exceptions.py
  src/toil/lib/io.py
  src/toil/options/runner.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

CWL container prepull: no reason to if extensions are enabled, they are now supported by cwl-utils 0.36+
  requirements-cwl.txt
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

CWL container prepull: skip if --no-containers is specified
  src/toil/cwl/cwltoil.py
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2, cwl_on_arm

Add an intitial attempt at database storage for history
  src/toil/lib/history.py
Due: none

Fix SQL syntax and semantics
  src/toil/lib/history.py
Due: none

Add leader fallback for files without filesize and import them on the leader
  src/toil/cwl/cwltoil.py
  src/toil/job.py
Due: cwl_v1.2, cwl_on_arm

Update src/toil/cwl/cwltoil.py
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Add docstring + rename functions
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Do a copy when not bypassing filestore and when caching is enabled
  src/toil/cwl/cwltoil.py
Due: cwl_v1.2, cwl_on_arm

Fix test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Allow submitting workflow attempt metrics with toil history --submit
  src/toil/common.py
  src/toil/cwl/cwltoil.py
  src/toil/lib/dockstore.py
  src/toil/lib/history.py
  src/toil/lib/misc.py
  src/toil/utils/toilHistory.py
  src/toil/utils/toilMain.py
  src/toil/wdl/wdltoil.py
Due: cwl_v1.2, cwl_on_arm

Fix typing
  src/toil/lib/dockstore.py
  src/toil/lib/history.py
  src/toil/utils/toilHistory.py
Due: none

type stubs: upgrade for newer stricter mypy 1.14
  contrib/mypy-stubs/pubsub/core/topictreetraverser.pyi
  src/toil/batchSystems/abstractBatchSystem.py
Due: none

Add cache test
  src/toil/test/cwl/cwlTest.py
Due: cwl_v1.2

Support my-workflows URLs and look for metrics under /api/api
  src/toil/lib/dockstore.py
  src/toil/lib/trs.py
  src/toil/wdl/wdltoil.py
Due: none

Stop picking a default version when Dockstore has several since we can't get Dockstore's default over TRS
  src/toil/lib/trs.py
Due: none

Get Dockstore metrics submitted
  src/toil/lib/dockstore.py
  src/toil/utils/toilHistory.py
Due: none

Log URL to retrieve submitted metrics from
  src/toil/lib/dockstore.py
  src/toil/utils/toilHistory.py
Due: none

Find submittable job attempts in the database
  src/toil/lib/history.py
  src/toil/utils/toilHistory.py
Due: none

Set up task submission
  src/toil/lib/dockstore.py
  src/toil/utils/toilHistory.py
Due: none

Fix packing code
  src/toil/lib/dockstore.py
  src/toil/lib/history.py
  src/toil/utils/toilHistory.py
Due: none

Collect stats for failed jobs
  src/toil/job.py
  src/toil/statsAndLogging.py
Due: none

Path conditions:
  cwl_v1.2: any of: src/toil/cwl/*, src/toil/test/cwl/*
  cwl_on_arm: any of: src/toil/cwl/*
  mesos: any of: src/toil/test/mesos/*, src/toil/batchSystems/mesos/*
  cactus_integration: any of: src/toil/test/cactus/test_cactus_integration.py
